body {
    background-color: #666;
    font-family: 'Press Start 2P', cursive;
    overflow:hidden;
    margin:0px; padding:0px;
}

body * {
    position: absolute;
    display: block;
    margin:0px; padding:0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

score {
    font-size:25px;
    text-shadow: 8px 8px 0px black;
    color:white;
    padding:20px;
    width:100%;
}

character {
    background-image: url(../images/character.png);
    width:122px; height: 158px;
}

gamescreen {
    background-image: url(../images/field.png);
    width:1600px; height:600px;
}

button {
    border-radius:5px;
    padding:10px;
    background-color: red;
    color:white;
    font-size:22px;
    cursor: pointer;
    left:40%; top:30%;
}

container {
    background-repeat: no-repeat;
    width:800px; height:600px;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    overflow:hidden;
}

start{
    width: 800px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../images/openscene.png);
}

net{
    background-image: url(../images/net.png);
    width:104px; height: 77px;
}

gameover{
    width: 800px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../images/gameover.jpg);
    z-index: 1; position: relative;
}

bomb{
    background-image: url(../images/bomb.png);
    width:70px; height: 70px;
    background-size: 100%;
}

apple{
    background-image: url(../images/apple.png);
    width:128px; height: 128px;
}

explosion{
    background-image: url(../images/explosion.png);
    width:128px; height: 128px;
}